In [19]:
import pandas as pd

df=pd.read_csv('rules.csv')
new=pd.DataFrame()
# Extract information from the 'Antecedent' column into new columns
new['Gender'] = df['antecedents'].str.extract(r'gender_(\w+)')
new['Age'] = df['antecedents'].str.extract(r'Age Category_(\w+)')
new['Distance'] = df['antecedents'].str.extract(r'Distance Category_(\w+)')
new['Transaction'] = df['antecedents'].str.extract(r'Transaction Category_(\w+)')
new['Population'] = df['antecedents'].str.extract(r'Population Category_(\w+)')
new['Amount'] = df['antecedents'].str.extract(r'Amt Category_(\w+)')
new['Category'] = df['antecedents'].str.extract(r'category_(\w+)')


new.to_csv('rules_simple.csv', index=False)

In [3]:
import pandas as pd

df=pd.read_csv('rules_simple.csv')
df.sample(10)

    gender    age  distance transaction  population    amount      category
263      M    NaN       far   Afternoon    Sparsely       NaN           NaN
122    NaN    NaN  moderate         NaN      Highly    Highly           NaN
120    NaN    NaN       far         NaN  Moderately    Highly           NaN
335    NaN    old       far         NaN      Highly    Highly           NaN
79     NaN    NaN       NaN   Afternoon  Moderately  Sparsely           NaN
199      F    old       NaN   Afternoon  Moderately       NaN           NaN
24       F    NaN  moderate         NaN    Sparsely       NaN           NaN
117    NaN  young       NaN         NaN  Moderately    Highly           NaN
126    NaN    NaN    nearby         NaN  Moderately    Highly           NaN
12     NaN    NaN       far         NaN         NaN    Highly  shopping_net